# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
bower_components/

# Distribution directories
dist/
build/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# MongoDB data directory
data/db/

# IDE and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Angular specific
.angular/
.angular-cli.json
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/

# Compiled output
/tmp
/temp
.qodo/

rust-analyzer/

# Rust
target/


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.qodo
